* {
    margin: 0;
    border:2px solid blueviolet;
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
}

/* Navigation bar */
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 50px 0;
}

#logo{
    margin-right: auto;
    margin-left: 4.6em;
    font-size: 35px;
    font-weight: bold;
    color: #F9FAF8;
}

nav > ul{
    display: flex;
    list-style: none;
    gap: 30px;
    padding-left: 0;
    margin-left: auto;
    margin-right: 9em;
    flex-shrink: 0;
    font-size: 18px;
    color: #E5E7EB;
}

nav > ul > li > a{
    color: #E5E7EB;
    text-decoration: none;
}

nav > ul > li > a:hover{
    color: #e5e7ebc5;
}


/* Hero part */
.hero{
    display: flex;
    height: 300px;
    justify-content: space-between;
    padding: 50px 0;
    background-color: #1F2937;
    gap: 10px;
    flex: 1;
}
.hero > .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10em;
    font-family: sans-serif;
    gap: 10px;
    flex-grow: 0;
}

.hero > .content > h1{
    font-size: 48px;
    font-weight: bolder;
    color:  #F9FAF8;
    max-width: auto;
    flex-grow: 0;
}

.hero > .content > p{
    font-size: 18px;
    color: #E5E7EB;
    max-width: auto;
    flex-grow: 0;
}

.hero > img{
    width: auto;
    height: 300px;
    margin-right: 10em;
    flex-shrink: 0;
}

.hero > .content > button{
    background-color: #3882F6;
    border-radius: 5px;
    color:  #F9FAF8;
    font-size: 20px;
    font-weight: bold;
    padding: .3em 1.5em;
    width: fit-content;
    justify-items: flex-end;
}

button:hover{
    background-color: #3881f6b6;
    cursor: pointer;
}

/* Gallery part */
.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 0;
}

.gallery > h1 {
    align-self: center;
    font-size: 36px; 
    font-weight: bolder; 
    color : #1F2937;
}
.gallery .photos{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.gallery > .photos > .image{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.gallery > .photos > .image > img{
    border: 5px solid #3882F6;
    border-radius: 15px;
    width: 200px;
    height: auto;
}

.gallery > .photos > .image > p{
    width: 200px;
    text-align: center;
}

/* Qoute part */
.qoute{
    background-color: #E5E7EB;
}